fastapi>=0.111.0
uvicorn[standard]>=0.30.0
llama-index>=0.11.7
transformers>=4.42.0
accelerate>=0.31.0
bitsandbytes>=0.43.0
sentence-transformers>=3.0.1
python-dotenv>=1.0.1
pydantic-settings>=2.2.1

